h1, h2, h3, h4 {
  font-family: "Advent Pro", sans-serif; }

.navbar, footer {
  background-color: #448a8a;
  color: white; }

.card {
  background-color: #3f7768;
  color: white; }

body {
  background-image: url(coffee.jpg);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#aurthorAccordion, #subscribe, .card-link {
  background-color: #448a8a;
  color: white;
  border: solid, 5px;
  border-color: papayawhip; }

a, .btn-link {
  color: white; }

.zoom {
  transition: transform .2s;
  /* Animation */
  margin: 5 auto; }

.zoom:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ }

.modal-header {
  background-color: #448a8a; }
